<!DOCTYPE html>
<html>
<head>
    <title>Website</title>
</head>
<body>
    <center><h1>Website Uptime</h1></center>
    <br>
    <center>

        
        <% for(let i = 0; i < urls.length; i++) { %>
            <a href="<%= urls[i] %>"><%= urls[i] %></a>
            <% if(status == 200) { %>
                <p>Online!</p>
            <% } else if (status == 429) { %>
                <p>Down: on a cool down!</p>
            <% } else if (status == 404) { %>
                <p>Down!</p>
            <% } else if (status == 403) { %>
                <p>Down: Invalid link!</p>
            <% } else  { %>
                <p>Loading...</p>
            <% } %>
        <% } %>
    </center>
</body>
</html>