<!DOCTYPE html>
<html>
<head>
    <title>Website</title>
</head>
<body>
    <center><h1>Website Uptime</h1></center>
    <br>
    <a href="<%= url %>"><%= url %></a>
    <p><%= status %></p>
</body>
</html>