<!DOCTYPE html>
<html>
<head>
    <title>Website</title>
</head>
<body>
    <center><h1>Website Uptime</h1></center>
    <br>
    <center>
        <a href="<%= url %>"><%= url %></a>
        <p><%= status %></p>
    </center>
</body>
</html>