<!DOCTYPE html>
<html>
<head>
    <title>Website</title>
</head>
<body>
    <center><h1>Website Uptime</h1></center>
    <br>
    <center>
        <% for(let i = 0; i < urls.length; i++) { %>

        <% let status; %>
        <% axios.get(urls[i])
        .then((response) => {
            switch (response.status) {
                case 200:
                    status = 200;
                    break;
                case 404:
                    status = 404;
                    break;
                case 403:
                    status = 403;
                    break;
                case 429:
                    eer = 429;
                    break;
            }
        })
        .catch(function (err) {
            console.log("Error: 403");
        }) %>

            <a href="<%= urls[i] %>"><%= urls[i] %></a>
            <% if(status[i] == 200) { %>
                <p>Online!</p>
            <% } else if (status[i] == 429) { %>
                <p>Down: on a cool down!</p>
            <% } else if (status[i] == 404) { %>
                <p>Down!</p>
            <% } else if (status[i] == 403) { %>
                <p>Down: Invalid link!</p>
            <% } else  { %>
                <p>Loading...</p>
            <% } %>
        <% } %>
    </center>
</body>
</html>